
.container {
    display:flex;
h1   {
        text-align:center;
        font-size:7rem;
    margin-left:7rem;
    }
      ul {
        display:flex;
      };
      h2{
       text-align:center; 
      }'
      
